@font-face {
    font-family: "Wizards Magic";
    /* src: local("Wizards Magic") */
    src: url("fonts/wizardsmagic.ttf") format("truetype");
}

.wizards {
    font-family: "Wizards Magic", sans-serif;
}

.inter-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }